.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html {
     scroll-behavior: smooth;
}

body {
   background-image: url('../public/images/background.jpg'); /* 배경 이미지 설정 */
   background-repeat: no-repeat; /* 이미지 반복 방지 */
   background-size: cover; /* 화면을 덮도록 이미지 크기 조정 */
   background-position: center center; /* 이미지 위치를 중앙으로 설정 */
   background-attachment: fixed; /* optional */
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
   body{
      font-size : 0.5rem;
   }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
   body{
      font-size : 0.5rem;
   }
}

/* 태블릿 (가로 모드) 및 작은 노트북 */
@media (min-width: 769px) and (max-width: 1024px) {
   body{
      font-size : 1.8rem;
   }
}

/* 데스크톱 & 대형 화면 */
@media (min-width: 1025px) {
  body {
     font-size: 1.8rem;
  }
}

.logo-div {
    display: block;
    margin: 0 auto;
    width: 7rem; /* 원하는 크기로 조정 */
    height: 7rem; /* 정사각형으로 설정 */
    border-radius: 30%; /* 원형으로 자르기 */
    border: 0.3rem solid rgb(0, 0, 0); /* 청록색 테두리 */
    object-fit: cover; /* 이미지가 잘리지 않고 꽉 차게 */
    justify-content: center;  /*수평 중앙 */
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    /*align-items: center;*/      /*수직 중앙 */
}

.logo-div:hover {
    opacity: 0.4; /* 마우스를 올리면 약간 투명해짐 */
}

.name-custom-font {
    text-align: center;
    justify-content: center;  /*수평 중앙*/
    font-weight: bold;
    font-size: 2.5rem;
    color : black;
    width: 25rem; /* 너비 설정 필수 */
    font-family: 'MaplestoryOTFBold';
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .name-custom-font {
        text-align: center;
        justify-content: center;  /*수평 중앙*/
        font-weight: bold;
        font-size: 1rem;
        color : black;
        width: 4rem; /* 너비 설정 필수 */
        font-family: 'MaplestoryOTFBold';
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .name-custom-font {
        text-align: center;
        justify-content: center;  /*수평 중앙*/
        font-weight: bold;
        font-size: 2rem;
        color : black;
        width: 10rem; /* 너비 설정 필수 */
        font-family: 'MaplestoryOTFBold';
    }
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .logo-div {
        display: block;
        margin: 0 auto;
        width: 4.5rem; /* 원하는 크기로 조정 */
        height: 4.5rem; /* 정사각형으로 설정 */
        border-radius: 30%; /* 원형으로 자르기 */
        border: 0.3rem solid rgb(0, 0, 0); /* 청록색 테두리 */
        object-fit: cover; /* 이미지가 잘리지 않고 꽉 차게 */
        justify-content: center;  /*수평 중앙 */
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        /*align-items: center;*/      /*수직 중앙 */
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .logo-div {
        display: block;
        margin: 0 auto;
        width: 4.5rem; /* 원하는 크기로 조정 */
        height: 4.5rem; /* 정사각형으로 설정 */
        border-radius: 30%; /* 원형으로 자르기 */
        border: 0.3rem solid rgb(0, 0, 0); /* 청록색 테두리 */
        object-fit: cover; /* 이미지가 잘리지 않고 꽉 차게 */
        justify-content: center;  /*수평 중앙 */
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        /*align-items: center;*/      /*수직 중앙 */
    }
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fiexd-div {
    position: fixed;
    top: 4rem;
    width: 23%;
    height: 80%;
    margin-left:2rem;
    padding-left: 2rem;
    border: 0.5rem solid turquoise;  /*청록색 테두리 */
    border-left: 0.5rem solid turquoise;  /*왼쪽에 강조된 테두리 */
    border-radius: 0.8rem;  /*둥근 모서리 */
    box-shadow: 0.3rem 0.4rem 0.8rem rgba(0, 0, 0, 0.1);  /*부드러운 그림자 */
}

.fixed-div:hover {
    transform: translateY(-5px);  /*마우스 호버 시 살짝 위로 이동 */
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.15);
}

.fiexd-input {
    top: 1rem;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}

.fiexd-info {
    top: 2rem;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}

.divide-info{
    display: grid;
    grid-template-columns: 10.3rem 10.3rem; /* 두 개의 동일한 너비 영역 */
}

.content {
    display: grid;
    grid-template-columns: 10rem auto 10rem; /* 좌측 로고, 중앙 텍스트, 우측 로고 */
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
    width: 100%;
    padding: 1.5rem;
}

.footer {
    font-family: 'MaplestoryOTFBold';
    position: fixed;
    bottom: 0;   /*화면 하단에 고정 */
    left: 0;
    width: 100%;  /* 화면의 전체 너비를 차지 */
    background-color: rgb(128, 255, 255);  /* 배경 색 */
    color: rgb(0, 0, 0);  /* 텍스트 색 */
    text-align: center;
    padding: 10px 0;  /* 위아래 패딩 */
    z-index: 1000;  /* 다른 요소 위에 위치하도록 */
}

.ticker {
    width: 100%;         /* 전체 너비 */
    overflow: hidden;    /* 텍스트가 범위를 벗어날 때 숨기기 */
    background-color: #f0f0f0; /* 배경색 */
}

.ticker-text {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-family: 'MaplestoryOTFBold';
    display: inline-block;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    animation: tickerAnimation 20s linear infinite; /* 애니메이션 설정 */
}

@keyframes tickerAnimation {
  0% {
    transform: translateX(500%); /* 오른쪽에서 시작 */
  }
  100% {
    transform: translateX(-100%); /* 왼쪽으로 끝 */
  }
}

.char-div {
    font-size: 0.8rem;
    color: rgb(0, 0, 0);  /* 텍스트 색 */
    margin-bottom: 9rem;
    font-family: 'MaplestoryOTFBold';
}

.info-container {
    display: grid;
    margin-top:1rem;
    height: 100%;
    grid-template-columns: repeat(4, 1fr); /* 4등분 */
    gap: 0.5rem; /* 간격 설정 (선택 사항) */
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .info-container {
        width: 90%;
        margin:5%;
        display: flex;
        flex-direction: column; /* 세로 정렬 */
    }}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .info-container {
        width: 90%;
        margin:5%;
        display: flex;
        flex-direction: column; /* 세로 정렬 */
        align-items: flex-start; /* 필요시 왼쪽 정렬 */
    }
}

/* 태블릿 (가로 모드) 및 작은 노트북 */
@media (min-width: 769px) and (max-width: 1024px) {
    .info-container {
        padding-left: 1rem;
    }
}

/* 데스크톱 & 대형 화면 */
@media (min-width: 1025px) {
    .info-container {
        padding-left: 1rem;
    }
}

.info-box {
    background-color: rgb(168, 168, 168);
    height: 85%;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
    border: 0.5rem solid rgb(221, 221, 221);
    border-radius: 1.5rem; /* 모서리를 둥글게 */
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .info-box {
        background-color: rgb(168, 168, 168);
        height: 85%;
        text-align: center;
        display: block;
        width: 100%;
        padding-left:2rem;
        padding-right:2rem;
        margin-bottom: 1.5rem;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .info-box {
        background-color: rgb(168, 168, 168);
        height: 85%;
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
    }
}

.auto-input-group {
    height: 100vh; /* 각 섹션이 전체 화면을 차지 */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .auto-input-group {
        height: 100vh; /* 각 섹션이 전체 화면을 차지 */
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: auto;
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .auto-input-group {
        height: 100vh; /* 각 섹션이 전체 화면을 차지 */

        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: auto;
    }
}

.char-logo {
    float: left;
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
}

.left-img-info {
    height: 5%;
    float: center;
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
}

.left-char-info {
    float: left;
    padding: 0.1rem;
}

.left-char-info p {
    font-size: 0.8rem;
    text-align: left;
}

.right-char-info {
    float: right;
    padding: 0.1rem;
}

.right-char-info h1 {
    text-align: left;
    font-size: 1.5rem;
}

.right-char-info p {
    font-size: 0.8rem;
    text-align: left;
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .left-char-info {
        float: center;
        padding: 0.1rem;
        margin:0.1rem;
    }

    .left-char-info p {
        padding: 0.1rem;
        margin-left:0.1rem;
        font-size: 0.7rem;
        text-align: left;
    }

    .right-char-info p {
        padding: 0.1rem;
        margin-left:0.1rem;
        font-size: 0.7rem;
        text-align: left;
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .left-char-info {
        float: left;
        padding: 0.1rem;
    }

    .left-char-info p {
        font-size: 1.3rem;
        text-align: left;
    }

    .right-char-info p {
        font-size: 1.3rem;
        text-align: left;
    }
}

/* 모바일 전용 스마트폰 */
/*@media (max-width: 480px) {
   body{
      font-size : 0.5rem;
   }
}*/

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .chart-total {
        display: flex;
    }
}

/* 태블릿 (가로 모드) 및 작은 노트북 */
@media (min-width: 769px) and (max-width: 1024px) {
    .chart-total {
        display: flex;
    }
}

/* 데스크톱 & 대형 화면 */
@media (min-width: 1025px) {
    .chart-total {
        display: flex;
    }
}



.chart-div {
    flex: 1.3;
    height: 10%;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 8rem;
    text-align: center;
    background-color: rgb(168, 168, 168);
    border: 0.3rem solid rgb(221, 221, 221);
    border-radius: 1rem; /* 모서리를 둥글게 */
}

.chart-rank {
    flex: 0.5;
    height: 20%;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 8rem;
    text-align: center;
    background-color: rgb(168, 168, 168);
    border: 0.3rem solid rgb(221, 221, 221);
    border-radius: 1rem; /* 모서리를 둥글게 */
}

@media (max-width: 480px) {
    .chart-div {
        height: 40rem;
        margin: 1rem;
        text-align: center;
        background-color: rgb(168, 168, 168);
        border: 0.3rem solid rgb(221, 221, 221);
        border-radius: 1rem; /* 모서리를 둥글게 */
    }
    
    .chart-rank {
        height: 20%;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 8rem;
        text-align: center;
        background-color: rgb(168, 168, 168);
        border: 0.3rem solid rgb(221, 221, 221);
        border-radius: 1rem; /* 모서리를 둥글게 */
    }
}

.text-container {
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
    height: 100%;
}

.text-box {
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
    font-size:1rem;
    background-color: rgb(168, 168, 168);
    height: 85%;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
    color:rgb(255, 0, 0);
    width: 37%;
    border: 0.5rem solid rgb(221, 221, 221);
    border-radius: 1.5rem; /* 모서리를 둥글게 */
    font-family: 'MaplestoryOTFBold';
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .text-box {
        align-items: center;
        justify-content: center; /* 수평 중앙 정렬 */
        font-size:0.6rem;
        background-color: rgb(168, 168, 168);
        height: 30%;
        text-align: left;
        padding-top: 1rem;
        padding-left: 0.5rem;
        color:rgb(255, 0, 0);
        width: 90%;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
        font-family: 'MaplestoryOTFBold';
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .text-box {
        align-items: center;
        justify-content: center; /* 수평 중앙 정렬 */
        font-size:0.6rem;
        background-color: rgb(168, 168, 168);
        height: 30%;
        text-align: left;
        padding-top: 1rem;
        padding-left: 1rem;
        color:rgb(255, 0, 0);
        width: 90%;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
        font-family: 'MaplestoryOTFBold';
    }
}

