.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html {
     scroll-behavior: smooth;
}

body {
   background-image: url('../public/images/background.jpg'); /* 배경 이미지 설정 */
   background-repeat: repeat;            /* 무늬 반복 */
   background-size: auto;                /* 원래 크기로 유지 */
   background-attachment: scroll;        /* 스크롤과 함께 이동 */
   background-position: top left;
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
   body{
      font-size : 0.5rem;
   }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
   body{
      font-size : 0.5rem;
   }
}

/* 태블릿 (가로 모드) 및 작은 노트북 */
@media (min-width: 769px) and (max-width: 1024px) {
   body{
      font-size : 1.8rem;
   }
}

/* 데스크톱 & 대형 화면 */
@media (min-width: 1025px) {
  body {
     font-size: 1.8rem;
  }
}

.logo-div {
    display: block;
    margin: 0 auto;
    width: 7rem; /* 원하는 크기로 조정 */
    height: 7rem; /* 정사각형으로 설정 */
    border-radius: 30%; /* 원형으로 자르기 */
    border: 0.3rem solid rgb(0, 0, 0); /* 청록색 테두리 */
    object-fit: cover; /* 이미지가 잘리지 않고 꽉 차게 */
    justify-content: center;  /*수평 중앙 */
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    /*align-items: center;*/      /*수직 중앙 */
}

.logo-div:hover {
    opacity: 0.4; /* 마우스를 올리면 약간 투명해짐 */
}

.logo-scollor-div {
    position: fixed;
    bottom: 13vh;
    right: 10vw;
    max-width: 20vw;       /* 뷰포트 너비의 20%를 넘지 않도록 */
    max-height: 20vh;      /* 뷰포트 높이의 20%를 넘지 않도록 */
    width: auto;
    height: auto;
    z-index: 3000;
    object-fit: contain;   /* 비율 유지하며 이미지 안잘리게 */
    border-radius: 30%; /* 원형으로 자르기 */
    border: 0.3rem solid rgb(0, 0, 0); /* 청록색 테두리 */
    object-fit: cover; /* 이미지가 잘리지 않고 꽉 차게 */
    justify-content: center;  /*수평 중앙 */
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.logo-scollor-div:hover {
    opacity: 0.4; /* 마우스를 올리면 약간 투명해짐 */
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .logo-scollor-div{
       display: block;
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
   .logo-scollor-div{
      display: none;
   }
}

/* 태블릿 (가로 모드) 및 작은 노트북 */
@media (min-width: 769px) and (max-width: 1024px) {
    .logo-scollor-div{
       display: none;
    }
}

/* 데스크톱 & 대형 화면 */
@media (min-width: 1025px) {
    .logo-scollor-div{
       display: none;
    }
}


.name-custom-font {
    text-align: center;
    justify-content: center;  /*수평 중앙*/
    font-weight: bold;
    font-size: 2.5rem;
    color : black;
    width: 25rem; /* 너비 설정 필수 */
    font-family: 'MaplestoryOTFBold';
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .name-custom-font {
        text-align: center;
        justify-content: center;  /*수평 중앙*/
        font-weight: bold;
        font-size: 1rem;
        color : black;
        width: 4rem; /* 너비 설정 필수 */
        font-family: 'MaplestoryOTFBold';
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .name-custom-font {
        text-align: center;
        justify-content: center;  /*수평 중앙*/
        font-weight: bold;
        font-size: 2rem;
        color : black;
        width: 10rem; /* 너비 설정 필수 */
        font-family: 'MaplestoryOTFBold';
    }
}

.name-small-font {
    text-align: center;
    justify-content: center;  /*수평 중앙*/
    font-weight: bold;
    font-size: 2rem;
    color : black;
    width: 35rem; /* 너비 설정 필수 */
    font-family: 'MaplestoryOTFBold';
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .name-small-font {
        text-align: center;
        justify-content: center;  /*수평 중앙*/
        font-weight: bold;
        font-size: 1rem;
        color : black;
        width: 15rem; /* 너비 설정 필수 */
        font-family: 'MaplestoryOTFBold';
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .name-small-font {
        text-align: center;
        justify-content: center;  /*수평 중앙*/
        font-weight: bold;
        font-size: 2rem;
        color : black;
        width: 18rem; /* 너비 설정 필수 */
        font-family: 'MaplestoryOTFBold';
    }
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .logo-div {
        display: block;
        margin: 0 auto;
        width: 4.5rem; /* 원하는 크기로 조정 */
        height: 4.5rem; /* 정사각형으로 설정 */
        border-radius: 30%; /* 원형으로 자르기 */
        border: 0.3rem solid rgb(0, 0, 0); /* 청록색 테두리 */
        object-fit: cover; /* 이미지가 잘리지 않고 꽉 차게 */
        justify-content: center;  /*수평 중앙 */
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        /*align-items: center;*/      /*수직 중앙 */
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .logo-div {
        display: block;
        margin: 0 auto;
        width: 4.5rem; /* 원하는 크기로 조정 */
        height: 4.5rem; /* 정사각형으로 설정 */
        border-radius: 30%; /* 원형으로 자르기 */
        border: 0.3rem solid rgb(0, 0, 0); /* 청록색 테두리 */
        object-fit: cover; /* 이미지가 잘리지 않고 꽉 차게 */
        justify-content: center;  /*수평 중앙 */
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        /*align-items: center;*/      /*수직 중앙 */
    }
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fiexd-div {
    position: fixed;
    top: 4rem;
    width: 23%;
    height: 80%;
    margin-left:2rem;
    padding-left: 2rem;
    border: 0.5rem solid turquoise;  /*청록색 테두리 */
    border-left: 0.5rem solid turquoise;  /*왼쪽에 강조된 테두리 */
    border-radius: 0.8rem;  /*둥근 모서리 */
    box-shadow: 0.3rem 0.4rem 0.8rem rgba(0, 0, 0, 0.1);  /*부드러운 그림자 */
}

.fixed-div:hover {
    transform: translateY(-5px);  /*마우스 호버 시 살짝 위로 이동 */
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.15);
}

.fiexd-input {
    top: 1rem;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}

.fiexd-info {
    top: 2rem;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}

.divide-info{
    display: grid;
    grid-template-columns: 10.3rem 10.3rem; /* 두 개의 동일한 너비 영역 */
}

.content {
    display: grid;
    grid-template-columns: 10rem auto 10rem; /* 좌측 로고, 중앙 텍스트, 우측 로고 */
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 3rem;
    padding-left:3rem;
    padding-right:3rem;
}

.footer {
    font-family: 'MaplestoryOTFBold';
    bottom: 0;   /*화면 하단에 고정 */
    left: 0;
    width: 100%;  /* 화면의 전체 너비를 차지 */
    background-color: rgb(128, 255, 255);  /* 배경 색 */
    color: rgb(0, 0, 0);  /* 텍스트 색 */
    text-align: center;
    padding: 10px 0;  /* 위아래 패딩 */
    z-index: 1000;  /* 다른 요소 위에 위치하도록 */
}

.ticker {
    width: 100%;         /* 전체 너비 */
    overflow: hidden;    /* 텍스트가 범위를 벗어날 때 숨기기 */
    background-color: #f0f0f0; /* 배경색 */
}

.ticker-text {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-family: 'MaplestoryOTFBold';
    display: inline-block;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    animation: tickerAnimation 20s linear infinite; /* 애니메이션 설정 */
}

@keyframes tickerAnimation {
  0% {
    transform: translateX(500%); /* 오른쪽에서 시작 */
  }
  100% {
    transform: translateX(-100%); /* 왼쪽으로 끝 */
  }
}

.char-div {
    font-size: 0.8rem;
    color: rgb(0, 0, 0);  /* 텍스트 색 */
    margin-bottom: 9rem;
    font-family: 'MaplestoryOTFBold';
}

.info-container {
    display: grid;
    margin-top:1rem;
    height: 100%;
    grid-template-columns: repeat(4, 1fr); /* 4등분 */
    gap: 0.5rem; /* 간격 설정 (선택 사항) */
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .info-container {
        width: 90%;
        margin:5%;
        display: flex;
        flex-direction: column; /* 세로 정렬 */
    }}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .info-container {
        width: 90%;
        margin:5%;
        display: flex;
        flex-direction: column; /* 세로 정렬 */
        align-items: flex-start; /* 필요시 왼쪽 정렬 */
    }
}

/* 태블릿 (가로 모드) 및 작은 노트북 */
@media (min-width: 769px) and (max-width: 1024px) {
    .info-container {
        padding-left: 1rem;
    }
}

/* 데스크톱 & 대형 화면 */
@media (min-width: 1025px) {
    .info-container {
        padding-left: 1rem;
    }
}

.info-box {
    background-color: rgb(168, 168, 168);
    height: 85%;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
    border: 0.5rem solid rgb(221, 221, 221);
    border-radius: 1.5rem; /* 모서리를 둥글게 */
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .info-box {
        background-color: rgb(168, 168, 168);
        height: 85%;
        text-align: center;
        display: block;
        width: 100%;
        padding-left:2rem;
        padding-right:2rem;
        margin-bottom: 1.5rem;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .info-box {
        background-color: rgb(168, 168, 168);
        height: 85%;
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
    }
}

.auto-input-group {
    height: 100vh; /* 각 섹션이 전체 화면을 차지 */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .auto-input-group {
        height: 100vh; /* 각 섹션이 전체 화면을 차지 */
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: auto;
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .auto-input-group {
        height: 100vh; /* 각 섹션이 전체 화면을 차지 */

        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: auto;
    }
}

.char-logo {
    float: left;
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
}

.left-img-info {
    height: 5%;
    float: center;
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
}

.left-char-info {
    float: left;
    padding: 0.1rem;
}

.left-char-info p {
    font-size: 0.8rem;
    text-align: left;
}

.right-char-info {
    float: right;
    padding: 0.1rem;
}

.right-char-info h1 {
    text-align: left;
    font-size: 1.5rem;
}

.right-char-info p {
    font-size: 0.8rem;
    text-align: left;
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .left-char-info {
        float: center;
        padding: 0.1rem;
        margin:0.1rem;
    }

    .left-char-info p {
        padding: 0.1rem;
        margin-left:0.1rem;
        font-size: 0.7rem;
        text-align: left;
    }

    .right-char-info p {
        padding: 0.1rem;
        margin-left:0.1rem;
        font-size: 0.7rem;
        text-align: left;
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .left-char-info {
        float: left;
        padding: 0.1rem;
    }

    .left-char-info p {
        font-size: 1.3rem;
        text-align: left;
    }

    .right-char-info p {
        font-size: 1.3rem;
        text-align: left;
    }
}

/* 모바일 전용 스마트폰 */
/*@media (max-width: 480px) {
   body{
      font-size : 0.5rem;
   }
}*/

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .chart-total {
        display: flex;
    }
}

/* 태블릿 (가로 모드) 및 작은 노트북 */
@media (min-width: 769px) and (max-width: 1024px) {
    .chart-total {
        display: flex;
    }
}

/* 데스크톱 & 대형 화면 */
@media (min-width: 1025px) {
    .chart-total {
        display: flex;
    }
}



.chart-div {
    flex: 1.3;
    height: 10%;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 8rem;
    text-align: center;
    background-color: rgb(168, 168, 168);
    border: 0.3rem solid rgb(221, 221, 221);
    border-radius: 1rem; /* 모서리를 둥글게 */
}

.chart-rank {
    flex: 0.5;
    height: 20%;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 8rem;
    text-align: center;
    background-color: rgb(168, 168, 168);
    border: 0.3rem solid rgb(221, 221, 221);
    border-radius: 1rem; /* 모서리를 둥글게 */
}

@media (max-width: 480px) {
    .chart-div {
        height: 40rem;
        margin: 1rem;
        text-align: center;
        background-color: rgb(168, 168, 168);
        border: 0.3rem solid rgb(221, 221, 221);
        border-radius: 1rem; /* 모서리를 둥글게 */
    }
    
    .chart-rank {
        height: 20%;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 8rem;
        text-align: center;
        background-color: rgb(168, 168, 168);
        border: 0.3rem solid rgb(221, 221, 221);
        border-radius: 1rem; /* 모서리를 둥글게 */
    }
}

.text-container {
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
    height: 100%;
    margin-bottom: 1.5rem;
}

.text-box {
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
    font-size:1rem;
    background-color: rgb(168, 168, 168);
    height: 85%;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
    color:rgb(255, 0, 0);
    width: 37%;
    border: 0.5rem solid rgb(221, 221, 221);
    border-radius: 1.5rem; /* 모서리를 둥글게 */
    font-family: 'MaplestoryOTFBold';
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .text-box {
        align-items: center;
        justify-content: center; /* 수평 중앙 정렬 */
        font-size:0.8rem;
        background-color: rgb(168, 168, 168);
        height: 30%;
        text-align: left;
        padding-top: 1rem;
        padding-left: 0.5rem;
        color:rgb(255, 0, 0);
        width: 90%;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
        font-family: 'MaplestoryOTFBold';
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .text-box {
        align-items: center;
        justify-content: center; /* 수평 중앙 정렬 */
        font-size:0.6rem;
        background-color: rgb(168, 168, 168);
        height: 30%;
        text-align: left;
        padding-top: 1rem;
        padding-left: 1rem;
        color:rgb(255, 0, 0);
        width: 90%;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
        font-family: 'MaplestoryOTFBold';
    }
}

.popularity-text-box {
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
    font-size:0.8rem;
    background-color: rgb(255, 255, 255);
    height: 30%;
    text-align: left;
    margin-top:0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    color:rgb(0, 0, 0);
    width: 100%;
    border: 0.5rem solid rgb(221, 221, 221);
    border-radius: 1.5rem; /* 모서리를 둥글게 */
    font-family: 'MaplestoryOTFBold';
}

.show-search-array-p {
    cursor: pointer;                  /* 마우스를 손가락 아이콘으로 변경 */
    color: #007bff;                   /* 링크처럼 파란색 */
    transition: color 0.2s ease;     /* 색상 변화 부드럽게 */
    margin:1rem;
    border-bottom: 1px solid #ccc; /* 더 명확한 밑줄 스타일 */
    padding-bottom: 4px;           /* 텍스트와 밑줄 사이 여백 */
}

.show-search-array-p:hover {
    color: #0056b3;                   /* 호버 시 더 진한 파란색 */
    text-decoration: none;           /* 호버 시 밑줄 제거 (선택 사항) */
}

.header_section {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    float: left;
    padding: 0.5rem 0.0000rem;
    z-index:2000;
}

.costum_header{
    width: 100%;
    display: flex;
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
   .costum_header{
       max-height: 3.5rem;
       height:3.5rem;
       overflow: hidden;
       transition: max-height 0.3s ease;
   }
   
   .costum_header.open {
       max-height: 14rem; /* 또는 충분한 높이 */
       height:14rem;
  }
}

.small_menu {
    display: block;
    padding-left: 0.7rem;
    width: 85%;
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
   .small_menu{
      display: none;
   }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
   .small_menu{
      display: none;
   }
}

.small_menu ul{
    list-style: none;
    text-align: center;
}

/* 공통 */
.small_menu li{
    font-family: 'Ownglyph_ParkDaHyun';
    font-weight: bold;
    text-align: center;
    color: #000080;
    padding-right: 2%;
    float: left;
}

.small_menu li:hover{
    cursor:pointer;
    color: #c0c0c0;
}

.menu-logo-div {
    display: block;
    margin: 0 auto;
    width: 2rem;  /*원하는 크기로 조정*/ 
    height: 2rem;  /*정사각형으로 설정*/ 
    border-radius: 30%; /* 원형으로 자르기 */
    border: 0.3rem solid rgb(0, 0, 0); /* 청록색 테두리 */
    object-fit: cover; /* 이미지가 잘리지 않고 꽉 차게 */
    justify-content: center;  /*수평 중앙 */
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
   .menu-logo-div {
        display: block;
        margin: 0.5rem;
        width: 2.5rem;  /*원하는 크기로 조정*/ 
        height: 2.5rem;  /*정사각형으로 설정*/ 
        border-radius: 30%; /* 원형으로 자르기 */
        border: 0.3rem solid rgb(0, 0, 0); /* 청록색 테두리 */
        object-fit: cover; /* 이미지가 잘리지 않고 꽉 차게 */
        justify-content: center;  /*수평 중앙 */
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
   .menu-logo-div {
        display: block;
        margin: 0.5rem;
        width: 2.5rem;  /*원하는 크기로 조정*/ 
        height: 2.5rem;  /*정사각형으로 설정*/ 
        border-radius: 30%; /* 원형으로 자르기 */
        border: 0.3rem solid rgb(0, 0, 0); /* 청록색 테두리 */
        object-fit: cover; /* 이미지가 잘리지 않고 꽉 차게 */
        justify-content: center;  /*수평 중앙 */
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
    }
}

.menu-logo-div:hover {
    opacity: 0.4; /* 마우스를 올리면 약간 투명해짐 */
}

.main-menu-name {
    cursor: pointer;
    text-align: center;
    justify-content: center;  /*수평 중앙*/
    font-weight: bold;
    color : black;
    font-family: 'MaplestoryOTFBold';
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .main-menu-name {
        margin:0.6rem;
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .main-menu-name {
        margin:0.5rem;
    }
}

.main-menu-name:hover {
    opacity: 0.4; /* 마우스를 올리면 약간 투명해짐 */
}

.toggle-div{
    padding-left: 2rem; /* 테두리와 이미지 사이 간격 */
    display: none;
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
   .toggle-div{
        margin:0.5rem;
        display: block;
   }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .toggle-div{
        margin:0.5rem;
        display: block;
    }
}

.toggle-icon{
    background: white; /* 이미지 주변 색상 */
    padding: 0.5rem; /* 테두리와 이미지 사이 간격 */
    border: 1px solid rgb(192, 192, 192); /* 검은색 테두리, 두께 5px */
    display: none;
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
   .toggle-icon{
        display: block;
   }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .toggle-icon{
        display: block;
    }
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
   .Header_mobile-navigation-menus{
       position: absolute;
       padding-left:1.2rem;
       bottom: 0;  /*부모 요소의 하단에 정렬 */
       flex-direction: column;
       align-items:flex-start;
       gap: 3rem;
       opacity: 0;
       transform: scaleY(0);
       transform-origin: top;
       opacity: 0;
       transition: transform 0.6s ease, opacity 0.6s ease;
   }
}

.Header_mobile-navigation-menus.show {
    transform: scaleY(1);
    opacity: 1;
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .Header_mobile-navigation-menus{
        position: absolute;
        bottom: 0; /* 부모 요소의 하단에 정렬 */
        z-index: 3000rem;
        display: none;
        flex-direction: column;
        align-items:flex-start;
        gap: 3rem;
    }
}

/* 태블릿 (가로 모드) 및 작은 노트북 */
@media (min-width: 769px) and (max-width: 1024px) {
   .Header_mobile-navigation-menus{
      display: none;
   }
}

/* 데스크톱 & 대형 화면 */
@media (min-width: 1025px) {
  .Header_mobile-navigation-menus {
     display: none;
  }
}

.mobile-navigation {
    width: 100%;
    color: black;
    font-size: 0.75rem;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Pretendard Variable', sans-serif;
}

.pri-text-container {
    padding-top: 5rem;
    padding-bottom: 3rem;
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
    height: 70%;
}

.pri-text-box {
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
    font-size:1rem;
    background-color: rgb(168, 168, 168);
    height: 50%;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
    color: black;
    width: 90%;
    border: 0.5rem solid rgb(221, 221, 221);
    border-radius: 1.5rem; /* 모서리를 둥글게 */
    font-family: 'MaplestoryOTFBold';
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .pri-text-box {
        align-items: center;
        justify-content: center; /* 수평 중앙 정렬 */
        font-size:0.4rem;
        background-color: rgb(168, 168, 168);
        height: 30%;
        text-align: left;
        padding-top: 1rem;
        padding-left: 0.5rem;
        color: black;
        width: 90%;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
        font-family: 'MaplestoryOTFBold';
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .pri-text-box {
        align-items: center;
        justify-content: center; /* 수평 중앙 정렬 */
        font-size:0.6rem;
        background-color: rgb(168, 168, 168);
        height: 30%;
        text-align: left;
        padding-top: 1rem;
        padding-left: 1rem;
        color: black;
        width: 70%;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
        font-family: 'MaplestoryOTFBold';
    }
}

.large-custom-font {
   font-size: 2rem;     /* font-size */
   margin-top: 1.5rem;     /* mt-8 => 8 * 0.25rem = 2rem */
   margin-bottom: 0.5rem; /* mb-2 => 2 * 0.25rem = 0.5rem */
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .large-custom-font {
        font-size: 1.3rem;     /* font-semibold */
        margin-top: 1rem;     /* mt-8 => 8 * 0.25rem = 2rem */
        margin-bottom: 0.5rem; /* mb-2 => 2 * 0.25rem = 0.5rem */
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .large-custom-font {
        font-size: 1.3rem;     /* font-semibold */
        margin-top: 1rem;     /* mt-8 => 8 * 0.25rem = 2rem */
        margin-bottom: 0.5rem; /* mb-2 => 2 * 0.25rem = 0.5rem */
    }
}

/* 활성화 메뉴 */
.active-menu {
  color: #2563eb; /* 예: 파란색  */
  border-bottom: 0.1rem solid #2563eb; /* 더 명확한 밑줄 스타일 */
  padding-bottom: 0.2rem;           /* 텍스트와 밑줄 사이 여백 */
  font-weight: bold;
}

/* 상시 메뉴 */
.passive-menu {
  color: #374151; /* 예: 회색 */
  font-weight: bold;
}

.half-text-container {
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
    height: 100%;
    width: 50%;
    margin-bottom: 1.5rem;
}

.half-text-box {
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
    font-size:1rem;
    background-color: rgb(168, 168, 168);
    height: 85%;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
    color:rgb(255, 0, 0);
    width: 100%;
    border: 0.5rem solid rgb(221, 221, 221);
    border-radius: 1.5rem; /* 모서리를 둥글게 */
    font-family: 'MaplestoryOTFBold';
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .half-text-box {
        align-items: center;
        justify-content: center; /* 수평 중앙 정렬 */
        font-size:0.8rem;
        background-color: rgb(168, 168, 168);
        height: 30%;
        text-align: left;
        padding-top: 1rem;
        padding-left: 0.5rem;
        color:rgb(255, 0, 0);
        width: 90%;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
        font-family: 'MaplestoryOTFBold';
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .half-text-box {
        align-items: center;
        justify-content: center; /* 수평 중앙 정렬 */
        font-size:0.6rem;
        background-color: rgb(168, 168, 168);
        height: 30%;
        text-align: left;
        padding-top: 1rem;
        padding-left: 1rem;
        color:rgb(255, 0, 0);
        width: 90%;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
        font-family: 'MaplestoryOTFBold';
    }
}

.total-container {
    display: flex; /* Flexbox로 자식들을 가로 정렬 */
    /*flex-wrap: wrap;  아이템들이 자동 줄바꿈되도록 */
}

.half-info-container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    height: 100%;
    width: 50%;
    gap: 2rem;  /*간격 설정 (선택 사항) */
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .half-info-container {
        width: 90%;
        margin:5%;
        display: flex;
        flex-direction: column; /* 세로 정렬 */
    }}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .half-info-container {
        width: 90%;
        margin:5%;
        display: flex;
        flex-direction: column; /* 세로 정렬 */
        align-items: flex-start; /* 필요시 왼쪽 정렬 */
    }
}

/* 태블릿 (가로 모드) 및 작은 노트북 */
@media (min-width: 769px) and (max-width: 1024px) {
    .half-info-container {
        padding-left: 1rem;
    }
}

/* 데스크톱 & 대형 화면 */
@media (min-width: 1025px) {
    .half-info-container {
        padding-left: 1rem;
    }
}

/* 2번은 기본적으로 total-container 안에 한 줄 차지 */
/*.total-container > .half-text-container:nth-child(4) {
    width: 100%;
}*/

.half-info-box {
    background-color: rgb(168, 168, 168);
    height: 100%;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
    border: 0.5rem solid rgb(221, 221, 221);
    border-radius: 1.5rem; /* 모서리를 둥글게 */
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
    .half-info-box {
        background-color: rgb(168, 168, 168);
        height: 100%;
        text-align: center;
        display: block;
        width: 100%;
        padding-left:2rem;
        padding-right:2rem;
        margin-bottom: 1.5rem;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
    }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
    .half-info-box {
        background-color: rgb(168, 168, 168);
        height: 100%;
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;
        border: 0.5rem solid rgb(221, 221, 221);
        border-radius: 1.5rem; /* 모서리를 둥글게 */
    }
}

@media (max-width: 768px) {
    .total-container {
        flex-direction: column;  /*아이템들을 세로로 */
    }

    .half-text-container,
    .half-info-container {
        width: 100%;  /*모바일에선 한 줄씩 */
    }

     /*순서 재정의 */
    .half-text-container:nth-child(1) { order: 1; }  /*1번 왼쪽 */
    .half-text-container:nth-child(4) { order: 2; }  /*2번 */
    .half-info-container:nth-child(2) { order: 3; }  /*1번 오른쪽 */
}